body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 40px;
    background: #f3f7ff;
}

.game-box {
    background: white;
    width: 350px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px                        rgba(0,0,0,0,0,1);

}

button {
    padding: 8px 15px;
    margin-top: 10px;
    border: none;
    background: #5376ff;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}


button:hover {
    background: #3656e8;
}

input {
    padding: 8px;
    font-size: 16px;
    width: 80%;
    margin-top: 10px;
}



#message {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}


